@import "tailwindcss";

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
}

a{
  display: block;
  margin: 30px;
}
     */
/* h1{
  font-size: 4vw;
  font-weight: 800;
} */

/* button{
  background-color: rgb(88, 84, 84);
  padding: 15px;
  border-radius: 5px;
  color: white;
  font-weight: 800;
  text-align: center;
  margin: 10px 10px;
}  */

